{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polling/style.css' %}">
<div class="TitleBar">
  <h1>Polar</h1>
  <hr></hr>
</div>
<div class="MainFeed">
  {% if latestQuestions %}
      <ul>
      {% for question in latestQuestions %}
        <div class="PollDiv">
          <h2>{{question.questionText}}</h2>
          <form method="GET">
            <div class="TagDiv">
              {% for tag in question.tag_set.all %}
              <input type= "submit" class = "Tag" name = "Tag" value = "{{tag.tagText}}"></input>
              {% endfor %}
            </div>
          </form>
          <hr></hr>
          <form method="POST">
            {% csrf_token %}
            <input type="submit" class="LikeButton" name = "Like" value = "Like {{question.likes}}"></input>
            <input type="hidden" name="questionID" value={{question.id}}></input>
          </form>
          <a href="{% url 'polling:detail' question.id %}""><button href="{% url 'polling:detail' question.id %}">&#129154;</button></a>
        </div>
      {% endfor %}
      </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
</div>
