{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polling/style.css' %}">
<div class="MainFeed">
  {% if latestQuestions %}
      <ul>
      {% for question in latestQuestions %}
        <div class="PollDiv">
          <h2>{{question.questionText}}</h2>
          <div class="TagDiv">
            {% for tag in question.tag_set.all %}
            <a>{{tag.tagText}}</a>
            {% endfor %}
          </div>
          <hr></hr>
          <form method="POST">
            {% csrf_token %}
            <input type="submit" class="PointCount" name = "Like" value = "Like">{{question.likes}}</input>
            <input type="hidden" name="questionID" value={{question.id}}></input>
          </form>
          <a href="{% url 'polling:detail' question.id %}""><button href="{% url 'polling:detail' question.id %}">&#129154;</button></a>
        </div>
      {% endfor %}
      </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
</div>
