@font-face {
  font-family: bigbold;
  src: url("fonts/bigandbold.otf");
}
body {
  /*Linear Gradient, Facing Left (270deg)*/
  background: linear-gradient(231deg, #4949FF, #65A7E7, #49D0FF, #7A49FF);
  background-size: 600% 600%;
  /*Apply keyframes*/
  animation: GradientBG 15s ease infinite;
}
/*Gradient Background Animation/Scrolling*/
@keyframes GradientBG {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
h2 {
  font-family: Arial;
  font-weight: Bold;
  color: black;
}
button{
  background-color: #3e8948;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1em;
  overflow: hidden;
  border: none;
}
button a{
  text-decoration: none;
  color: white;
}
label{
  text-align: center;
  font-family: Arial;
}
input{
  align-self: Left;
}
.PollDiv{
  color: grey;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  padding: 16px;
  align-items: left;
  background-size: cover;
  background-position: center;
  /*box-shadow: 0px 0px 64px -16px black;*/
  /*border: 5px solid white;*/
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: left;
}
.PollDiv button{
  width: 60px;
  height: 60px;
  font-size: 150%;
}
.PollDiv h2{
  font-weight: bold;
}
.TagDiv {
  font-family: Arial;
  margin-top: 1em;
  margin-bottom: 1em;
}
.Tag{
  color: white;
  border-radius: 2em;
  background-color:  #3e8948;
  border-style: none;
  padding: 0.5em;
  text-align: center;
}
.MainFeed{
  background-color: #49D0FF;
  width: 80%;
  height: 95%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  text-align: center;
  margin: auto;
  margin-top: 0px;
  padding: 1em;
  border-radius: 2em;
  box-shadow:  0px 0px 64px -16px black;
}
.VoteDiv{
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-family: Arial;
  background-color: white;
  border-radius: 2em;
  padding: 2.5em;
  width: 80%;
  overflow: visible;
}
.VoteDiv input{
  color: white;
  border-radius: 2em;
  background-color: #3e8948;
  border-style: none;
  padding: 1em;
}
.VoteDiv a{
  position: relative;
  width: 100%;
  color: white;
  border-radius: 2em;
  background-color: #3e8948;
  border-style: none;
  padding: 1em;
  text-decoration: none;
  margin-top: 5em;
}
.LikeButton {
  font-family: Arial;
  color: white;
  /* filter: drop-shadow(0 0 2em black); */
  font-weight: bold;
  font-size: 1em;
  background: #3e8948;
  border-radius: 2em;
  border-style: none;
  min-width: 3em;
  max-width: 6em;
  height: 2em;
  padding: 0px;
  margin: auto;
}
.Space{
  margin-top: 1.5em;
}
