:root{
  --button-color: #0099ff;
  --secondary-color: #ff3399;
}
@font-face {
  font-family: bigbold;
  src: url("fonts/bigandbold.otf");
}
body {
  /*Linear Gradient, Facing Left (270deg)*/
  background: linear-gradient(231deg, #cc00cc, #ff0066, #0099ff);
  background-size: 600% 600%;
  /*Apply keyframes*/
  animation: GradientBG 15s ease infinite;
}
/*Gradient Background Animation/Scrolling*/
@keyframes GradientBG {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
@keyframes ColorSwitch {
  0%{filter: drop-shadow(0 0 1em var(--button-color))}
  50%{filter: drop-shadow(0 0 1em var(--secondary-color))}
  100%{filter: drop-shadow(0 0 1em var(--button-color))}
}
h1 {
  font-family: Arial;
  font-weight: Bold;
  color: black;
}
h2 {
  font-family: Arial;
  font-weight: Bold;
  color: black;
}
h3 {
  font-family: Arial;
  font-weight: Bold;
  color: black;
}
p {
  font-family: Arial;
  font-weight: Bold;
  color: black;
}
button{
  background-color: var(--button-color);
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1em;
  overflow: hidden;
  border: none;
}
button:hover{
  box-shadow: 0px 0px 32px -4px var(--button-color);
}
button a{
  text-decoration: none;
  color: white;
}
label{
  text-align: center;
  font-family: Arial;
}
input{
  align-self: Left;
}
.PolarIcon{
  animation: ColorSwitch 8s ease infinite;
}
.TitleBar{
  margin: auto;
  background-color: white;
  width: 60%;
  height: auto;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 0px 0px 64px -16px black;
}
.PollDiv{
  color: grey;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  padding: 0.5em;
  align-items: left;
  background-size: cover;
  background-position: center;
  /*box-shadow: 0px 0px 64px -16px black;*/
  /*border: 5px solid white;*/
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: left;
}
.PollDiv button{
  width: 60px;
  height: 60px;
  font-size: 150%;
}
.PollDiv h2{
  font-weight: bold;
}
.TagDiv {
  font-family: Arial;
  margin-top: 1em;
  margin-bottom: 1em;
}
.Tag{
  color: white;
  border-radius: 2em;
  background-color:  var(--button-color);
  border-style: none;
  padding: 0.5em;
  text-align: center;
}
.MainFeed{
  background-color: var(--secondary-color);
  width: 80%;
  height: 70%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 2em;
  box-shadow:  0px 0px 64px -16px black;
}
.VoteDiv{
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-family: Arial;
  background-color: white;
  border-radius: 2em;
  padding: 2.5em;
  width: 80%;
  overflow: visible;
  box-shadow:  0px 0px 64px -16px black;
}
.VoteDiv input{
  color: white;
  border-radius: 2em;
  background-color: var(--button-color);
  border-style: none;
  padding: 1em;
}
.VoteDiv a{
  position: relative;
  width: 100%;
  color: white;
  border-radius: 2em;
  background-color: var(--button-color);
  border-style: none;
  padding: 0.5em;
  text-decoration: none;
  margin: auto;
}
.LikeButton {
  font-family: Arial;
  color: white;
  /* filter: drop-shadow(0 0 2em black); */
  font-weight: bold;
  font-size: 1em;
  background: var(--button-color);
  border-radius: 2em;
  border-style: none;
  min-width: 3em;
  max-width: 6em;
  height: 2em;
  margin: auto;
}
.LikeButton:hover{
  filter: drop-shadow(0 0 0.3em var(--button-color));
}
.Space{
  margin-top: 1.5em;
}
.InputFormBox {
  font-family: Arial;
  color: white;
  /* filter: drop-shadow(0 0 2em black); */
  font-weight: bold;
  font-size: 1em;
  background: var(--button-color);
  border-radius: 2em;
  border-style: none;
  min-width: 3em;
  height: 2.5em;
  margin: auto;
}
.InputFormBox::placeholder {
  font-family: Arial;
  font-weight: lighter;
  color: white;
  opacity: 50%;
}
.InputTextArea {
  font-family: Arial;
  color: black;
  /* filter: drop-shadow(0 0 2em black); */
  font-weight: bold;
  font-size: 1em;
  border-radius: 0.5em;
  border-style: groove;
  margin: auto;
  padding: 1em;
}
